div.hero { /* colocanod div ou o tag de inciio sera sempre prioritária */
    background-image: url('../assets/hero.jpg');
    background-size: cover;
    background-position: center top;
    border-radius: 0;
}